:root {
    --bs-orange: #f4623a;
}
.btns {
    background-color: var(--bs-orange);
    color: white;
}
hr {
    width: 80px;
    
    
    
    border: 2px solid #f4623a;
    background-color: #f4623a;
}
footer {
    background-color: #f8f9fa;
}